/* =============================================================================
    Projet      :   Fisheye
    Fichier     :   _utilities.scss
    Auteur      :   Trackozor
    Date        :   01/01/2025
    Version     :   1.0.0
    Description :   Classes utilitaires pour des fonctionnalités spécifiques,
                    notamment pour l'accessibilité et des comportements génériques.
============================================================================= */

/* =========================================================================== */
/*                          Classes pour l'accessibilité                       */
/* =========================================================================== */
/* Masque visuellement un élément tout en le gardant accessible aux lecteurs d'écran */
.sr-only {
  position: absolute; /* Retire l'élément du flux visuel */
  width: 1px; /* Taille réduite à 1 pixel */
  height: 1px; /* Taille réduite à 1 pixel */
  padding: 0; /* Pas de padding */
  margin: -1px; /* Place l'élément hors écran */
  overflow: hidden; /* Masque le contenu débordant */
  clip: rect(0, 0, 0, 0); /* Masque visuellement l'élément */
  border: 0; /* Supprime les bordures */
}

/* Affiche un élément précédemment masqué pour les lecteurs d'écran */
.sr-only-focusable:focus {
  position: static; /* Rétablit la position par défaut */
  width: auto; /* Rétablit la largeur */
  height: auto; /* Rétablit la hauteur */
  padding: var(
    --padding-small,
    0.5rem
  ); /* Ajoute du padding pour plus de clarté */
  margin: 0; /* Supprime les marges négatives */
  overflow: visible; /* Rend le contenu visible */
  clip: auto; /* Rétablit le contenu */
  border: 2px solid var(--primary-color); /* Ajoute une bordure pour la mise en évidence */
}

/* Classe pour masquer le scroll du corps de la page */
.no-scroll {
  overflow: hidden;
}

/* =========================================================================== */
/*                     Classes pour les styles par défaut                      */
/* =========================================================================== */
/* Retire les soulignements des liens */
a {
  text-decoration: none; /* Supprime la décoration par défaut */
  color: inherit; /* Hérite de la couleur du texte parent */
}

.focus-orange {
  outline: 2rem solid orange !important;
  background-color: rgba(255, 165, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}
